@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

/* Wygaszenie scrollbara w PWA */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html,
body {
    overscroll-behavior-y: none;
    touch-action: pan-x pan-y;
    position: fixed;
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}