@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

/* Wygaszenie scrollbara w PWA */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html,
body {
    overscroll-behavior-y: none;
    background-color: #121212;
}

#root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}